<p>
    Відстань Хеммінга між двома двійковими числами показує кількість відповідних бітів, значення яких відрізняється
    (<a target="_blank" href="http://uk.wikipedia.org/wiki/%D0%92%D1%96%D0%B4%D1%81%D1%82%D0%B0%D0%BD%D1%8C_%D0%93%D0%B5%D0%BC%D0%BC%D1%96%D0%BD%D0%B3%D0%B0">стаття Вікіпедії</a>).
    Наприклад:
</p>
<pre>
    117 = 0 1 1 1 0 1 0 1
     17 = 0 0 0 1 0 0 0 1
      H = 0+1+1+0+0+1+0+0 = 3

</pre>
<p>
    Вам дано два додатні числа <code>N, M</code> в десятковій системі числення.
    Потрібно вирахувати відстань Хеммінга між цими двома числами в двійковій системі.
</p>

<p>
    <strong>Вхідні дані:</strong> Два аргументи як цілі числа ({% if is_js %}number{% else %}int{% endif %}).
</p>

<p>
    <strong>Вихідні дані:</strong> Відстань Хеммінга як ціле число ({% if is_js %}number{% else %}int{% endif %}).
</p>

<div class="for_info_only">

<p>
    <strong>Приклади:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>Як це використовується:</strong>
    <p><i>
        Це основа для кодів Хеммінга та інших лінійних програм корекції помилок.
        Відстань Хеммінга використовується в біологічній систематиці як показник генетичної відмінності.
    </i></p>
</p>
<p>
    <strong>Передумови:</strong>
    <ul>
        <li><i>0 &lt; n, m &lt; 10<sup>6</sup></i></li>
    </ul>
</p>
