<p>
    Расстояние Хэмминга между двумя двоичными числами - это число позиций, в которых биты различаются
    (<a target="_blank" href="http://ru.wikipedia.org/wiki/%D0%E0%F1%F1%F2%EE%FF%ED%E8%E5_%D5%FD%EC%EC%E8%ED%E3%E0">прочитать о расстоянии Хэмминга на Википедии</a>).<br>
    Для примера:
</p>
<pre>
    117 = 0 1 1 1 0 1 0 1
     17 = 0 0 0 1 0 0 0 1
      H = 0+1+1+0+0+1+0+0 = 3

</pre>
<p>
    Даны два положительных целых числа <code>N, M</code> в десятичном виде.
    Вам необходимо подсчитать расстояние Хэмминга между этими двумя числами в двоичном виде.
</p>

<p>
    <strong>Входные данные: </strong> Два аргумента, как целые числа ({% if is_js %}number{% else %}int{% endif %}).
</p>

<p>
    <strong>Выходные данные: </strong> Расстояние Хэмминга, как целое число ({% if is_js %}number{% else %}int{% endif %}).
</p>

<div class="for_info_only">

<p>
    <strong>Примеры:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>Зачем это нужно:</strong>
    <p><i>
            Это базис для кодов Хэмминга и других программ корректировки ошибок.
            Также расстояние Хэмминга используют, как измерения разницы в генетике (в более общей форме).
    </i></p>
    
</p>


<p>
    <strong>Предусловия:</strong>
    <ul>
        <li><i>0 &lt; n, m &lt; 10<sup>6</sup></i></li>
    </ul>
</p>
